@font-face {
    font-family: 'Harry P';
    src: url('./fonts/HARRYP__.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel';
    src: url('./fonts/Cinzel-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel';
    src: url('./fonts/Cinzel-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel';
    src: url('./fonts/Cinzel-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel';
    src: url('./fonts/Cinzel-ExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel';
    src: url('./fonts/Cinzel-Medium.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel';
    src: url('./fonts/Cinzel-Regular.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel';
    src: url('./fonts/Cinzel-SemiBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
